/* 
   1. reset style
    태그들에게 적용되어있는 기본스타일 제거
    우선순위점수는 최대한 낮게 설정이 되도록 한다.
*/

*{padding:0;margin:0;}
a{color:inherit;text-decoration:none;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size:inherit;}
i,em,address{font-style: inherit;}

/* 
    2.common style - 공통 스타일
    전반적으로 따르는 스타일들은 최상위 태그에게 적용해서 상속이 되게끔 유도한다.
    보통 - 글씨체를 일괄적용할 때
*/

html{
    font-family: 'Times New Roman', Times, serif;
    font-size:14px;
    /* 1rem=14px */
}
body{
    background-color: ivory;
}

/*
    3.big layout ( 대략적인 배치 )
    큰 영역 -> 작은 영역 순으로 크기와 배치를 설정
*/


.wrap{
    border:1px solid red;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

/* 
    4.디테일
 */
header{
    background-color: #4caf50;
    color:white;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding:10px 10px;
    margin-bottom: 10px;
}

.wrap section h2{
    background-color: orange;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}

main p{
    padding-bottom:10px;
}

footer p{
    border-top :2px solid red;
    padding-top:10px;
    
}
.wrap{
    background-image: url("../image/꿈은이루어진다.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
