*{margin:0;padding:0;}
a{color:inherit;text-decoration: none;}
b,strong,h1,h2,h3,h4,h5,h6{
    font-size:inherit;font-weight: inherit;
}
i,em{
    font-style: inherit;
}
ul,ol{
    list-style:none;
}
@font-face {
    font-family: "풀무원";
    src: url("../font/PulmuoneLOHASBold.woff");
}

html{
    font-size:20px;
}
.wrap{
    font-family: "Noto Sans KR", sans-serif;

}
.pul{
    font-family: "풀무원";
}

.topimg{
    height: 250px;
    background-image: url("../img/sub_vis01_02.jpg");
    background-repeat: no-repeat;
    margin-bottom:50px;
    background-size: cover;
    background-position: 50% 50%;
}
header{
    margin-bottom:30px;
}
.wrap main{
    width:1200px;
    margin:0 auto;
    text-align: center;
}

.ft30.alignleft{
    margin-bottom:100px;
}

.ft30{
    font-size:30px;
}
.ft52{
    font-size:52px;
}
.ft35{
    font-size:35px;
}
.alignleft{
    text-align: left;
}
.mid{
    padding: 0 70px;
    margin-bottom:50px;

}
h1.pul.ft52>span{
    color: #7EAE72;
}
.bottom{
    background-color: #F4F4F4;
    margin: 0 auto;
    width: 50%;
    padding:40px 90px;
    padding-bottom: 50px;
}

h3.pul.ft35{
    margin-bottom:25px;
}

.bottom p:nth-of-type(1){
    margin-bottom: 30px;;
}

.line{
    display: inline-block;
    width: 950px;
    background-image: url(../img/sub_tit_line.gif);
    background-position: 0% 50%;
    background-repeat: repeat-x;
}
