/* common */
html{
    font-size:20px;
    font-family: "Noto Sans KR", sans-serif;
}

/* layout */
.bg{
    height: 250px;
    background: url(../img/sub_vis01_02.jpg) no-repeat 50% 50% / cover;
}
.content{
    border:1px solid red;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.content h2{
    border:1px solid blue;
    margin-top:50px;
    margin-bottom:100px;
    text-align: left;
    background: url(../img/sub_tit_line.gif) repeat-x 0% 50% ;
}
.content span{
    background: white;
    padding-right:20px;
}

@font-face {
    font-family: "풀무원";
    src: url(../font/PulmuoneLOHASBold.woff);
}

.content h3{
    font-family: "풀무원";
    font-size:52px;
    padding:0 70px;
    margin-bottom:50px;
    border:1px solid red;
}

.content h3 span{
    color:chartreuse
}

.content section{
    background:#F4F4F4;
    box-sizing:border-box;
    width: 810px;
    padding: 40px 90px 50px;
    margin: 0 auto;
}

.content section h4{
    margin-bottom: 20px;
}
.content section h4+p{
    margin-bottom: 30px;
}