html{
    font-family: "Noto Sans KR", sans-serif;
    font-size:12px;
}

.wrap{
    padding:22px 24px 21px 14px;
    width: 1095px;
    margin: 0 auto;
    box-sizing: border-box;
}

.table{
    display: flex;
    align-items: center;
}

.line1{
    display: inline-block;
    border-bottom:1px solid black
}


.table a{
    flex:1
}
.table .item_info{
    flex: 3;
    padding-left:30px;
}
.table .item_cheaper{
    flex: 1.5;
}
.table>a>img{
    width: 156px;
}

dl,dt,dd{
    display: inline-block;
}
.item_cheaper{
    padding-left: 20px;
}

.item_info h3{
    font-weight: 700;
    margin-bottom: 12px;
}

.item_info>p:nth-of-type(1){
    margin-bottom: 13px;
    color: red;
}
.item_info>p:nth-of-type(1) span{
    font-size:1.5rem;
    font-weight: 700;
}
.item_info>p:nth-of-type(1) .sell{
    color: white;
    background-color:#91949e;
    padding: 3px;
}
.item_info>p:nth-of-type(2){
    margin-bottom: 17px;
}
.item_info dl:nth-of-type(1){
    margin-bottom: 27px;
}

.item_info{
    margin-right: 153px;
}


.item_cheaper>h3{
    margin-bottom: 22px;
    font-weight: 700;
}

.item_cheaper li{
    margin-bottom: 5px;
}

.item_info>a>p{
    display: inline-block;
}

.item_cheaper>ul>li>a{
    display: flex;
    justify-content: space-between;
}

.item_info dl:last-of-type dd:nth-of-type(2),.item_info dl:last-of-type dd:last-of-type{
    color: green;
}


.item_info dl:last-of-type dd:nth-of-type(2):after{
    content: '·';
    color: black;
}

.item_info dl:last-of-type dd:nth-of-type(3):after{
    content: '·';
    color: black;
}

.item_info dl:last-of-type dd:last-of-type:after{
    content: '·';
    color: black;
}

.item_cheaper>ul>li>a>span{
    line-height: 120%
}
.item_cheaper>ul>li>a>span>img{
    vertical-align: bottom;
}


.item_cheaper{
    border-left:0.1px solid rgba(53, 52, 52, 0.39);
}

.table:nth-of-type(1){
    padding-bottom:23px;
    border-bottom:0.1px solid rgba(53, 52, 52, 0.39);

}
.table:nth-of-type(2){
    padding-top:23px;
}

.item_cheaper li:nth-of-type(1)>a>span:nth-of-type(1){
    color:blue;
} 


.item_cheaper li:nth-of-type(1)>a>span:nth-of-type(2){
    color:red;
}
