.menu {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s, transform 0.3s;
  transform: translateY(-20px);
  z-index: 1;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu li {
  position: relative; /* 부모 요소에 대한 상대 위치 설정 */
}

.menu li:nth-child(n+2) {
  transform: translateY(0); /* 초기에는 원래 위치에 있도록 설정 */
}

.submenu {
  pointer-events: none; /* 서브메뉴에 대한 이벤트를 비활성화 */
}
